<?xml version="1.0" encoding="UTF-8" ?>
<Configuration strict="true">
    <Properties>
        <Property name="consoleLayoutPattern">%d{ISO8601}
            %highlight{%-5p}%notEmpty{[T:%X{traceId},S:%X{spanId},P:%X{parentId}]} [%magenta{%t}] %cyan{%c} - %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayoutPattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.jboss.resteasy" level="DEBUG"/>
        <Logger name="org.jboss.resteasy.resteasy_jaxrs.i18n" level="INFO"/>
        <Logger name="okhttp3.mockwebserver" level="DEBUG"/>
        <Logger name="zipkin2" level="TRACE"/>
        <Logger name="brave" level="TRACE"/>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>